**Prediction using ML algo (Linear regession)**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train_df = pd.read_excel("Data_Train.xlsx")
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
test_df = pd.read_excel("Test_set.xlsx")
test_df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

In [4]:
train_df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [5]:
train_df.shape

(10683, 11)

In [6]:
train_df.dropna(inplace=True)
train_df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [7]:
train_df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [8]:
train_price = train_df['Price']

In [9]:
train_df = train_df.drop('Price', axis=1)

In [10]:
train_df['is_train'] = 1
test_df['is_train'] = 0

In [11]:
combined_df = pd.concat([train_df, test_df], ignore_index=True)

In [12]:
# 1. Date_of_Journey
combined_df['Date_of_Journey'] = pd.to_datetime(combined_df['Date_of_Journey'], format='%d/%m/%Y')
combined_df['Journey_Day'] = combined_df['Date_of_Journey'].dt.day
combined_df['Journey_Month'] = combined_df['Date_of_Journey'].dt.month
combined_df = combined_df.drop('Date_of_Journey', axis=1)

In [13]:
combined_df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,is_train,Journey_Day,Journey_Month
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,1,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,1,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,1,9,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,1,12,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
13348,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,0,6,6
13349,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,0,27,3
13350,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,0,6,3
13351,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,0,6,3
13352,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,0,15,6

In [14]:
# 2. Dep_Time
combined_df['Dep_Time'] = pd.to_datetime(combined_df['Dep_Time'])
combined_df['Dep_Hour'] = combined_df['Dep_Time'].dt.hour
combined_df['Dep_Minute'] = combined_df['Dep_Time'].dt.minute
combined_df = combined_df.drop('Dep_Time', axis=1)

/tmp/ipython-input-1620631216.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['Dep_Time'] = pd.to_datetime(combined_df['Dep_Time'])

In [15]:
combined_df

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,is_train,Journey_Day,Journey_Month,Dep_Hour,Dep_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,1,24,3,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,1,1,5,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,1,9,6,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1 stop,No info,1,12,5,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1 stop,No info,1,1,3,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13348,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:25 07 Jun,23h 55m,1 stop,No info,0,6,6,20,30
13349,IndiGo,Kolkata,Banglore,CCU → BLR,16:55,2h 35m,non-stop,No info,0,27,3,14,20
13350,Jet Airways,Delhi,Cochin,DEL → BOM → COK,04:25 07 Mar,6h 35m,1 stop,No info,0,6,3,21,50
13351,Air India,Delhi,Cochin,DEL → BOM → COK,19:15,15h 15m,1 stop,No info,0,6,3,4,0
13352,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,19:15,14h 20m,1 stop,No info,0,15,6,4,55

In [16]:
# 3. Arrival_Time
combined_df['Arrival_Time'] = pd.to_datetime(combined_df['Arrival_Time'], errors='coerce')
# Some arrival times might have date info (e.g., '01:10 22 Mar'), pandas handles this.
# Let's re-extract hour and minute
combined_df['Arrival_Hour'] = combined_df['Arrival_Time'].dt.hour
combined_df['Arrival_Minute'] = combined_df['Arrival_Time'].dt.minute
combined_df = combined_df.drop('Arrival_Time', axis=1)

/tmp/ipython-input-2159030623.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['Arrival_Time'] = pd.to_datetime(combined_df['Arrival_Time'], errors='coerce')

In [17]:
# 4. Duration
def convert_duration_to_minutes(duration):
    hours = 0
    minutes = 0
    if 'h' in duration:
        hours = int(duration.split('h')[0])
        if 'm' in duration:
            minutes = int(duration.split('h')[1].strip().split('m')[0])
    elif 'm' in duration:
        minutes = int(duration.split('m')[0])

    return (hours * 60) + minutes

combined_df['Duration_Total_Minutes'] = combined_df['Duration'].apply(convert_duration_to_minutes)
combined_df = combined_df.drop('Duration', axis=1)

In [18]:
print("\nUnique values in 'Total_Stops':")
print(combined_df['Total_Stops'].unique())

# Create a mapping
stop_mapping = {
    'non-stop': 0,
    '1 stop': 1,
    '2 stops': 2,
    '3 stops': 3,
    '4 stops': 4
}

combined_df['Total_Stops'] = combined_df['Total_Stops'].map(stop_mapping)

Unique values in 'Total_Stops':
['non-stop' '2 stops' '1 stop' '3 stops' '4 stops']

In [19]:
combined_df['Total_Stops'].isnull().sum()

np.int64(0)

In [20]:
# 6. Analyze Categorical Features
print("\nUnique values in 'Airline':")
print(combined_df['Airline'].unique())
print(f"Count: {combined_df['Airline'].nunique()}")

print("\nUnique values in 'Source':")
print(combined_df['Source'].unique())
print(f"Count: {combined_df['Source'].nunique()}")

print("\nUnique values in 'Destination':")
print(combined_df['Destination'].unique())
print(f"Count: {combined_df['Destination'].nunique()}")

print("\nValue counts for 'Additional_Info' (Top 10):")
print(combined_df['Additional_Info'].value_counts().head(10))

# Based on 'Additional_Info', over 78% is 'No info'.
# We can either group the less frequent ones or just encode 'No info' vs 'Other info'.
# Let's drop 'Route' as it's redundant with 'Total_Stops', 'Source', and 'Destination'.
combined_df = combined_df.drop('Route', axis=1)

# For 'Additional_Info', let's replace 'No info' with a more neutral 'Other'
# and then group all other specific infos into a single category.
# Actually, 'No info' is the dominant class. Let's just encode the top few and group the rest.
# Given that 'No info' is ~80%, this column is unlikely to be very predictive.
# Let's simplify and drop it for this model.
combined_df = combined_df.drop('Additional_Info', axis=1)

# Show the dataframe info after preprocessing
print("\nCombined Data Info after Preprocessing:")
combined_df.info()

# Show the head
print("\nCombined Data Head after Preprocessing:")
print(combined_df.head())

Unique values in 'Airline':
['IndiGo' 'Air India' 'Jet Airways' 'SpiceJet' 'Multiple carriers' 'GoAir'
 'Vistara' 'Air Asia' 'Vistara Premium economy' 'Jet Airways Business'
 'Multiple carriers Premium economy' 'Trujet']
Count: 12

Unique values in 'Source':
['Banglore' 'Kolkata' 'Delhi' 'Chennai' 'Mumbai']
Count: 5

Unique values in 'Destination':
['New Delhi' 'Banglore' 'Cochin' 'Kolkata' 'Delhi' 'Hyderabad']
Count: 6

Value counts for 'Additional_Info' (Top 10):
Additional_Info
No info                         10492
In-flight meal not included      2426
No check-in baggage included      396
1 Long layover                     20
Change airports                     8
Business class                      5
No Info                             3
1 Short layover                     1
Red-eye flight                      1
2 Long layover                      1
Name: count, dtype: int64

Combined Data Info after Preprocessing:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13353 entries, 0 to 13352
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline                 13353 non-null  object
 1   Source                  13353 non-null  object
 2   Destination             13353 non-null  object
 3   Total_Stops             13353 non-null  int64
 4   is_train                13353 non-null  int64
 5   Journey_Day             13353 non-null  int32
 6   Journey_Month           13353 non-null  int32
 7   Dep_Hour                13353 non-null  int32
 8   Dep_Minute              13353 non-null  int32
 9   Arrival_Hour            13353 non-null  int32
 10  Arrival_Minute          13353 non-null  int32
 11  Duration_Total_Minutes  13353 non-null  int64
dtypes: int32(6), int64(3), object(3)
memory usage: 939.0+ KB

Combined Data Head after Preprocessing:
       Airline    Source Destination  Total_Stops  is_train  Journey_Day  \
0       IndiGo  Banglore   New Delhi            0         1           24
1    Air India   Kolkata    Banglore            2         1            1
2  Jet Airways     Delhi      Cochin            2         1            9
3       IndiGo   Kolkata    Banglore            1         1           12
4       IndiGo  Banglore   New Delhi            1         1            1

   Journey_Month  Dep_Hour  Dep_Minute  Arrival_Hour  Arrival_Minute  \
0              3        22          20             1              10
1              5         5          50            13              15
2              6         9          25             4              25
3              5        18           5            23              30
4              3        16          50            21              35

   Duration_Total_Minutes
0                     170
1                     445
2                    1140
3                     325
4                     285

In [21]:
combined_df.head()

,Airline,Source,Destination,Total_Stops,is_train,Journey_Day,Journey_Month,Dep_Hour,Dep_Minute,Arrival_Hour,Arrival_Minute,Duration_Total_Minutes
0,IndiGo,Banglore,New Delhi,0,1,24,3,22,20,1,10,170
1,Air India,Kolkata,Banglore,2,1,1,5,5,50,13,15,445
2,Jet Airways,Delhi,Cochin,2,1,9,6,9,25,4,25,1140
3,IndiGo,Kolkata,Banglore,1,1,12,5,18,5,23,30,325
4,IndiGo,Banglore,New Delhi,1,1,1,3,16,50,21,35,285

In [22]:
categorical_features = ['Airline', 'Source', 'Destination']
combined_df_encoded = pd.get_dummies(combined_df, columns=categorical_features, drop_first=True)

In [23]:
combined_df_encoded.head()

,Total_Stops,is_train,Journey_Day,Journey_Month,Dep_Hour,Dep_Minute,Arrival_Hour,Arrival_Minute,Duration_Total_Minutes,Airline_Air India,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,1,24,3,22,20,1,10,170,False,...,False,False,False,False,False,False,False,False,False,True
1,2,1,1,5,5,50,13,15,445,True,...,False,False,False,True,False,False,False,False,False,False
2,2,1,9,6,9,25,4,25,1140,False,...,False,False,True,False,False,True,False,False,False,False
3,1,1,12,5,18,5,23,30,325,False,...,False,False,False,True,False,False,False,False,False,False
4,1,1,1,3,16,50,21,35,285,False,...,False,False,False,False,False,False,False,False,False,True

In [24]:
# Split back into train and test sets using the 'is_train' flag
X_train_final = combined_df_encoded[combined_df_encoded['is_train'] == 1].drop('is_train', axis=1)
X_test_final = combined_df_encoded[combined_df_encoded['is_train'] == 0].drop('is_train', axis=1)
y_train_final = train_price

In [25]:
# Align columns - just in case any category was present in one set but not the other
# (though combining them first should have prevented this)
X_train_cols = set(X_train_final.columns)
X_test_cols = set(X_test_final.columns)

missing_in_test = list(X_train_cols - X_test_cols)
for col in missing_in_test:
    if col != 'Price': # 'Price' was never in the combined_df
        X_test_final[col] = 0

missing_in_train = list(X_test_cols - X_train_cols)
for col in missing_in_train:
    X_train_final[col] = 0

# Ensure the column order is the same
X_test_final = X_test_final[X_train_final.columns]

In [26]:
# --- 3. Exploratory Data Analysis (EDA) ---
# We'll perform EDA on the *training* data (before splitting for validation)
# Let's add the 'Price' back to the X_train_final for easier plotting
eda_df = X_train_final.copy()
eda_df['Price'] = y_train_final.values

In [27]:
# a. Distribution of Price
plt.figure(figsize=(10, 6))
sns.histplot(eda_df['Price'], kde=True, bins=50)
plt.title('Distribution of Flight Price')
plt.xlabel('Price')
plt.ylabel('Frequency')
plt.savefig('price_distribution.png')
plt.close()

plt.figure(figsize=(10, 6))
sns.histplot(np.log1p(eda_df['Price']), kde=True, bins=50)
plt.title('Distribution of Log-Transformed Flight Price')
plt.xlabel('Log(Price)')
plt.ylabel('Frequency')
plt.savefig('price_log_distribution.png')
plt.close()
print("\nGenerated price distribution plots.")

Generated price distribution plots.

In [28]:
combined_df_encoded

,Total_Stops,is_train,Journey_Day,Journey_Month,Dep_Hour,Dep_Minute,Arrival_Hour,Arrival_Minute,Duration_Total_Minutes,Airline_Air India,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,1,24,3,22,20,1,10,170,False,...,False,False,False,False,False,False,False,False,False,True
1,2,1,1,5,5,50,13,15,445,True,...,False,False,False,True,False,False,False,False,False,False
2,2,1,9,6,9,25,4,25,1140,False,...,False,False,True,False,False,True,False,False,False,False
3,1,1,12,5,18,5,23,30,325,False,...,False,False,False,True,False,False,False,False,False,False
4,1,1,1,3,16,50,21,35,285,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13348,1,0,6,6,20,30,20,25,1435,True,...,False,False,False,True,False,False,False,False,False,False
13349,0,0,27,3,14,20,16,55,155,False,...,False,False,False,True,False,False,False,False,False,False
13350,1,0,6,3,21,50,4,25,395,False,...,False,False,True,False,False,True,False,False,False,False
13351,1,0,6,3,4,0,19,15,915,True,...,False,False,True,False,False,True,False,False,False,False
13352,1,0,15,6,4,55,19,15,860,False,...,False,False,True,False,False,True,False,False,False,False

**LINEAR REGRESSION MODEL**

In [29]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
import pickle

# --- 1. Split Training Data ---
# We assume X_train_final and y_train_final are in memory from the previous run
try:
    X_train, X_val, y_train, y_val = train_test_split(X_train_final, y_train_final, test_size=0.3, random_state=42)
except NameError:
    print("Error: 'X_train_final' or 'y_train_final' not found in memory.")
    print("Please run the previous data processing and feature engineering steps first.")
    # Stop execution if variables aren't present
    exit()

print(f"New training set shape: X={X_train.shape}, y={y_train.shape}")
print(f"Validation set shape: X={X_val.shape}, y={y_val.shape}")

# --- 2. Scale Features ---
# Linear Regression is sensitive to feature scales, unlike Random Forest.
print("\nScaling features using StandardScaler...")
scaler = StandardScaler()

# Fit on training data and transform it
X_train_scaled = scaler.fit_transform(X_train)

# Transform validation data using the same scaler
X_val_scaled = scaler.transform(X_val)
print("Scaling complete.")

# --- 3. Model Selection and Training ---
print("\nTraining LinearRegression model...")
lr_model = LinearRegression()

# Train the model on the (80%) SCALED training split
lr_model.fit(X_train_scaled, y_train)
print("Model training complete.")

# --- 4. Model Evaluation ---
print("\nEvaluating model on scaled validation set...")
# Make predictions on the scaled validation set
y_pred_val_lr = lr_model.predict(X_val_scaled)

# Calculate and print metrics
r2_score_lr = metrics.r2_score(y_val, y_pred_val_lr)
mae_lr = metrics.mean_absolute_error(y_val, y_pred_val_lr)
rmse_lr = np.sqrt(metrics.mean_squared_error(y_val, y_pred_val_lr))

print(f"Linear Regression Validation Metrics:")
print(f"  R^2 Score: {r2_score_lr:.4f}")
print(f"  Mean Absolute Error (MAE): {mae_lr:.2f}")
print(f"  Root Mean Squared Error (RMSE): {rmse_lr:.2f}")

# --- 5. Final Training & Prediction ---
# Now, retrain the model on the *entire* training dataset, but first scale it.
print("\nScaling the entire training dataset for final model...")
final_scaler = StandardScaler()
X_train_final_scaled = final_scaler.fit_transform(X_train_final)

print("Retraining LinearRegression model on the entire scaled training dataset...")
lr_model_final = LinearRegression()
lr_model_final.fit(X_train_final_scaled, y_train_final)
print("Final model training complete.")

# Scale the actual test set (X_test_final) using the final_scaler
print("Scaling the test set...")
# We assume X_test_final is in memory
X_test_final_scaled = final_scaler.transform(X_test_final)

# Make predictions on the scaled test set
print("Making predictions on the test set...")
test_predictions_lr = lr_model_final.predict(X_test_final_scaled)

# --- 6. Output ---
# Create a DataFrame for the predictions
predictions_lr_df = pd.DataFrame(test_predictions_lr, columns=['Predicted_Price'])

# Save the predictions to a CSV file
predictions_lr_df.to_csv("flight_price_predictions_linear_regression.csv", index=False)

print(f"\nSuccessfully saved {len(test_predictions_lr)} predictions to 'flight_price_predictions_linear_regression.csv'.")

New training set shape: X=(7477, 28), y=(7477,)
Validation set shape: X=(3205, 28), y=(3205,)

Scaling features using StandardScaler...
Scaling complete.

Training LinearRegression model...
Model training complete.

Evaluating model on scaled validation set...
Linear Regression Validation Metrics:
  R^2 Score: 0.6266
  Mean Absolute Error (MAE): 1937.40
  Root Mean Squared Error (RMSE): 2760.03

Scaling the entire training dataset for final model...
Retraining LinearRegression model on the entire scaled training dataset...
Final model training complete.
Scaling the test set...
Making predictions on the test set...

Successfully saved 2671 predictions to 'flight_price_predictions_linear_regression.csv'.

**DECISION TREE MODEL**

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
import pickle

In [38]:
#Splitting training and test data
X_train, X_val, y_train, y_val = train_test_split(X_train_final, y_train_final, test_size=0.35, random_state=42)
print(f" New training set shape: X={X_train.shape}, y={y_train.shape}")
print(f" Validation set shape: X={X_val.shape}, y={y_val.shape}")

 New training set shape: X=(6943, 28), y=(6943,)
 Validation set shape: X=(3739, 28), y=(3739,)

In [39]:
# Training decision Tree model
print("\nTraining DecisionTreeRegressor model...")
dt_model = DecisionTreeRegressor(random_state=42)
dt_model.fit(X_train, y_train)
print("Model training complete.")

Training DecisionTreeRegressor model...
Model training complete.

In [40]:
# Model Evaluation
print("\nEvaluating model on validation set...")
y_pred_val_dt = dt_model.predict(X_val)

Evaluating model on validation set...

In [41]:
# Results
r2_score_dt = metrics.r2_score(y_val, y_pred_val_dt)
mae_dt = metrics.mean_absolute_error(y_val, y_pred_val_dt)
rmse_dt = np.sqrt(metrics.mean_squared_error(y_val, y_pred_val_dt))
print(f"Decision Tree Validation Metrics:")
print(f"  R^2 Score: {r2_score_dt:.4f}")
print(f"  Mean Absolute Error (MAE): {mae_dt:.2f}")
print(f"  Root Mean Squared Error (RMSE): {rmse_dt:.2f}")

Decision Tree Validation Metrics:
  R^2 Score: 0.7403
  Mean Absolute Error (MAE): 1317.25
  Root Mean Squared Error (RMSE): 2288.41

In [42]:
# --- 4. Final Training & Prediction ---
# Now, retrain the model on the *entire* training dataset
print("\nRetraining DecisionTreeRegressor model on the entire training dataset...")
dt_model_final = DecisionTreeRegressor(random_state=42)
dt_model_final.fit(X_train_final, y_train_final)
print("Final model training complete.")

Retraining DecisionTreeRegressor model on the entire training dataset...
Final model training complete.

In [44]:
# Make predictions on the actual test set (X_test_final)
# We assume X_test_final is in memory
print("Making predictions on the test set...")
test_predictions_dt = dt_model_final.predict(X_test_final)

Making predictions on the test set...

In [45]:
# --- 5. Output ---
# Create a DataFrame for the predictions
predictions_dt_df = pd.DataFrame(test_predictions_dt, columns=['Predicted_Price'])

# Save the predictions to a CSV file
predictions_dt_df.to_csv("flight_price_predictions_decision_tree.csv", index=False)

print(f"\nSuccessfully saved {len(test_predictions_dt)} predictions to 'flight_price_predictions_decision_tree.csv'.")

Successfully saved 2671 predictions to 'flight_price_predictions_decision_tree.csv'.